Java Client/xml-resources/web-service-references/WeightConvert/wsdl/localhost_8080/JavaWS/WeightConvert.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.1 (tags/2.2.1-7242; 2012-08-03T12:35:22+0000) JAXWS-RI/2.2.7 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="KgToPound" type="tns:KgToPound"/>

<xs:element name="KgToPoundResponse" type="tns:KgToPoundResponse"/>

<xs:element name="PoundToKg" type="tns:PoundToKg"/>

<xs:element name="PoundToKgResponse" type="tns:PoundToKgResponse"/>

<xs:complexType name="PoundToKg">
<xs:sequence>
<xs:element name="Pound" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PoundToKgResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="KgToPound">
<xs:sequence>
<xs:element name="Kg" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="KgToPoundResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>